Repository stloyd/flow: changes, and which Codecov flags are due for each by the changed paths.
All: etl, cli, lib-array-dot, lib-azure-sdk, lib-doctrine-dbal-bulk, lib-filesystem, lib-parquet, lib-parquet-viewer, lib-rdsl, lib-snappy, bridge-filesystem-async-aws, bridge-filesystem-azure, bridge-monolog-http, symfony-http-foundation, adapter-chartjs, adapter-csv, adapter-doctrine, adapter-elasticsearch, adapter-google-sheet, adapter-http, adapter-json, adapter-logger, adapter-meilisearch, adapter-parquet, adapter-text, adapter-xml

.codecov.yaml:

comment:
  layout: "condensed_header, diff, components"

component_management:
  individual_components:
    - component_id: etl
      name: etl
      paths:
        - src/core/**
    - component_id: cli
      name: cli
      paths:
        - src/cli/**
    - component_id: lib-array-dot
      name: lib-array-dot
      paths:
        - src/lib/array-dot/**
    - component_id: lib-azure-sdk
      name: lib-azure-sdk
      paths:
        - src/lib/azure-sdk/**
    - component_id: lib-doctrine-dbal-bulk
      name: lib-doctrine-dbal-bulk
      paths:
        - src/lib/doctrine-dbal-bulk/**
    - component_id: lib-filesystem
      name: lib-filesystem
      paths:
        - src/lib/filesystem/**
    - component_id: lib-parquet
      name: lib-parquet
      paths:
        - src/lib/parquet/**
    - component_id: lib-parquet-viewer
      name: lib-parquet-viewer
      paths:
        - src/lib/parquet-viewer/**
    - component_id: lib-rdsl
      name: lib-rdsl
      paths:
        - src/lib/rdsl/**
    - component_id: lib-snappy
      name: lib-snappy
      paths:
        - src/lib/snappy/**
    - component_id: bridge-filesystem-async-aws
      name: bridge-filesystem-async-aws
      paths:
        - src/bridge/filesystem/async-aws/**
    - component_id: bridge-filesystem-azure
      name: bridge-filesystem-azure
      paths:
        - src/bridge/filesystem/azure/**
    - component_id: bridge-monolog-http
      name: bridge-monolog-http
      paths:
        - src/bridge/monolog/http/**
    - component_id: symfony-http-foundation
      name: symfony-http-foundation
      paths:
        - src/bridge/symfony/http-foundation/**
    - component_id: adapter-chartjs
      name: adapter-chartjs
      paths:
        - src/adapter/etl-adapter-chartjs/**
    - component_id: adapter-csv
      name: adapter-csv
      paths:
        - src/adapter/etl-adapter-csv/**
    - component_id: adapter-doctrine
      name: adapter-doctrine
      paths:
        - src/adapter/etl-adapter-doctrine/**
    - component_id: adapter-elasticsearch
      name: adapter-elasticsearch
      paths:
        - src/adapter/etl-adapter-elasticsearch/**
    - component_id: adapter-google-sheet
      name: adapter-google-sheet
      paths:
        - src/adapter/etl-adapter-google-sheet/**
    - component_id: adapter-http
      name: adapter-http
      paths:
        - src/adapter/etl-adapter-http/**
    - component_id: adapter-json
      name: adapter-json
      paths:
        - src/adapter/etl-adapter-json/**
    - component_id: adapter-logger
      name: adapter-logger
      paths:
        - src/adapter/etl-adapter-logger/**
    - component_id: adapter-meilisearch
      name: adapter-meilisearch
      paths:
        - src/adapter/etl-adapter-meilisearch/**
    - component_id: adapter-parquet
      name: adapter-parquet
      paths:
        - src/adapter/etl-adapter-parquet/**
    - component_id: adapter-text
      name: adapter-text
      paths:
        - src/adapter/etl-adapter-text/**
    - component_id: adapter-xml
      name: adapter-xml
      paths:
        - src/adapter/etl-adapter-xml/**

Updated CHANGELOG.md
  CHANGELOG.md
Due: none

Added experimental google ads
  README.md
  documentation/introduction.md
  web/landing/assets/styles/app.css
  web/landing/src/Flow/Website/Service/Markdown/LeagueCommonMarkConverterFactory.php
  web/landing/templates/blog/posts/2024-04-04/building-custom-extractor-google-analytics/post.html.twig
  web/landing/templates/blog/posts/2024-08-08/scalar-functions/post.html.twig
  web/landing/templates/documentation/page.html.twig
Due: none

Improved spacing between google ads
  web/landing/assets/styles/app.css
  web/landing/templates/blog/posts/2024-04-04/building-custom-extractor-google-analytics/post.html.twig
  web/landing/templates/blog/posts/2024-08-08/scalar-functions/post.html.twig
  web/landing/templates/documentation/dsl.html.twig
  web/landing/templates/documentation/example.html.twig
  web/landing/templates/documentation/page.html.twig
Due: none

Edit on GitHub - Website Button (#1318)
  documentation/quick-start.md
  web/landing/assets/styles/app.css
  web/landing/src/Flow/Website/Controller/BlogController.php
  web/landing/src/Flow/Website/Model/Documentation/Page.php
  web/landing/templates/blog/post.html.twig
  web/landing/templates/documentation/dsl.html.twig
  web/landing/templates/documentation/dsl/function.html.twig
  web/landing/templates/documentation/example.html.twig
  web/landing/templates/documentation/page.html.twig
Due: none

Add greatest and least scalar functions (#1320)
  src/core/etl/src/Flow/ETL/DSL/functions.php
  src/core/etl/src/Flow/ETL/Function/Comparison/Comparable.php
  src/core/etl/src/Flow/ETL/Function/Greatest.php
  src/core/etl/src/Flow/ETL/Function/Least.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Function/GreatestTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Function/LeastTest.php
  web/landing/resources/dsl.json
Due: etl

Replaced jawira/case-converter with symfony/string (#1336)
  composer.json
  composer.lock
  src/core/etl/composer.json
  src/core/etl/src/Flow/ETL/DataFrame.php
  src/core/etl/src/Flow/ETL/Function/ArrayKeysStyleConvert.php
  src/core/etl/src/Flow/ETL/Function/StyleConverter/StringStyles.php
  src/core/etl/src/Flow/ETL/Transformer/EntryNameStyleConverterTransformer.php
  src/core/etl/src/Flow/ETL/Transformer/StyleConverter/StringStyles.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/DataFrame/RenameTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Function/ArrayKeysStyleConvertTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/CaseConverter/ArrayKeyConverterTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Transformer/EntryNameStyleConverterTransformerTest.php
  tools/box/composer.lock
  tools/cs-fixer/composer.lock
  tools/infection/composer.lock
  tools/phpbench/composer.lock
  tools/phpstan/composer.lock
Due: etl

Added scalar functions Slug and Ascii (#1337)
  src/core/etl/src/Flow/ETL/Function/Ascii.php
  src/core/etl/src/Flow/ETL/Function/ScalarFunctionChain.php
  src/core/etl/src/Flow/ETL/Function/Slug.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Function/AsciiTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Function/SlugTest.php
Due: etl

Run PHPStan for the test suite (#1329)
  phpstan.neon
  src/adapter/etl-adapter-doctrine/tests/Flow/ETL/Adapter/Doctrine/Tests/Context/InsertQueryCounter.php
  src/adapter/etl-adapter-parquet/tests/Flow/ETL/Adapter/Parquet/Tests/Integration/ParquetExtractorTest.php
  src/adapter/etl-adapter-parquet/tests/Flow/ETL/Adapter/Parquet/Tests/Integration/ParquetTest.php
  src/adapter/etl-adapter-xml/tests/Flow/ETL/Adapter/XML/Tests/Unit/RowsNormalizer/EntryNormalizer/PHPValueNormalizerTest.php
  src/bridge/filesystem/async-aws/tests/Flow/Filesystem/Bridge/AsyncAWS/Tests/Integration/AsyncAWSS3DestinationStreamTest.php
  src/bridge/filesystem/async-aws/tests/Flow/Filesystem/Bridge/AsyncAWS/Tests/Integration/AsyncAWSS3FilesystemTest.php
  src/bridge/filesystem/azure/tests/Flow/Filesystem/Bridge/Azure/Tests/Integration/AzureBlobDestinationStreamTest.php
  src/bridge/filesystem/azure/tests/Flow/Filesystem/Bridge/Azure/Tests/Integration/AzureBlobFilesystemTest.php
  src/bridge/filesystem/azure/tests/Flow/Filesystem/Bridge/Azure/Tests/Integration/AzureBlobServiceTestCase.php
  src/bridge/symfony/http-foundation/tests/Flow/Bridge/Symfony/HttpFoundation/Tests/Integration/FlowStreamedResponseTest.php
  src/cli/tests/Flow/CLI/Tests/Unit/Options/TypedOptionTest.php
  src/core/etl/tests/Flow/ETL/Tests/Double/FakeExtractor.php
  src/core/etl/tests/Flow/ETL/Tests/Fixtures/Example.php
  src/core/etl/tests/Flow/ETL/Tests/FlowIntegrationTestCase.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/DataFrame/AnalyzeTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/PHP/Type/CasterTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Function/DOMElementAttributeValueTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Function/DOMElementAttributesCountTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Function/DOMElementValueTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Function/XPathTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/PHP/Type/TypeDetectorTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Pipeline/Optimizer/BatchSizeOptimizationTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Pipeline/Optimizer/LimitOptimizationTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Entry/UuidEntryTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Schema/MetadataTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Transformer/ScalarFunctionTransformerTest.php
Due: etl, cli, bridge-filesystem-async-aws, bridge-filesystem-azure, symfony-http-foundation, adapter-doctrine, adapter-parquet, adapter-xml

Update README.md
  README.md
Due: none

Create SECURITY.md
  SECURITY.md
Due: none

Introduce ADR's to the project (#1345)
  documentation/adrs.md
  documentation/adrs/extension-points.md
  documentation/adrs/static-analysis-baseline.md
  documentation/adrs/template.md
  documentation/contributing.md
  web/landing/assets/styles/app.css
  web/landing/src/Flow/Website/Service/Markdown/LeagueCommonMarkConverterFactory.php
  web/landing/templates/documentation/navigation.html.twig
Due: none

Added a manifest.json to flow monorepo (#1355)
  manifest.json
  src/core/etl/src/Flow/ETL/Row/Entry/StringEntry.php
  src/core/etl/tests/Flow/ETL/Tests/FlowTestCase.php
  src/tools/documentation/src/Flow/Documentation/Manifest.php
  src/tools/documentation/src/Flow/Documentation/Manifest/Package.php
  src/tools/documentation/src/Flow/Documentation/Manifest/Type.php
  src/tools/documentation/tests/Flow/Documentation/Tests/Integration/ManifestTest.php
Due: etl
