Repository stloyd/flow: changes, and which Codecov flags are due for each by the changed paths.
All: etl, cli, lib-array-dot, lib-azure-sdk, lib-doctrine-dbal-bulk, lib-filesystem, lib-parquet, lib-parquet-viewer, lib-rdsl, lib-snappy, bridge-filesystem-async-aws, bridge-filesystem-azure, bridge-monolog-http, symfony-http-foundation, adapter-chartjs, adapter-csv, adapter-doctrine, adapter-elasticsearch, adapter-google-sheet, adapter-http, adapter-json, adapter-logger, adapter-meilisearch, adapter-parquet, adapter-text, adapter-xml

Added DataFrame with function (#1392)
  examples/topics/data_reading/elasticsearch/code.php
  examples/topics/data_writing/elasticsearch/code.php
  src/adapter/etl-adapter-elasticsearch/tests/Flow/ETL/Adapter/Elasticsearch/Tests/Integration/ElasticsearchPHP/ElasticsearchExtractorTest.php
  src/adapter/etl-adapter-meilisearch/tests/Flow/ETL/Adapter/Meilisearch/Tests/Integration/MeilisearchPHP/MeilisearchExtractorTest.php
  src/bridge/symfony/http-foundation/src/Flow/Bridge/Symfony/HttpFoundation/FlowStreamedResponse.php
  src/bridge/symfony/http-foundation/tests/Flow/Bridge/Symfony/HttpFoundation/Tests/Unit/Transformation/MaskColumnTransformationTest.php
  src/core/etl/src/Flow/ETL/DataFrame.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/DataFrameTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/ETLErrorHandlingTest.php
Due: etl, symfony-http-foundation, adapter-elasticsearch, adapter-meilisearch

Updated CHANGELOG.md
  CHANGELOG.md
Due: none

Simplify concat functions internals (#1393)
  src/core/etl/src/Flow/ETL/Function/Concat.php
  src/core/etl/src/Flow/ETL/Function/ConcatWithSeparator.php
Due: etl

Fix entry factory loosing schema metadata/type nullability (#1395)
  src/core/etl/src/Flow/ETL/DSL/functions.php
  src/core/etl/src/Flow/ETL/Row/Entry/BooleanEntry.php
  src/core/etl/src/Flow/ETL/Row/Entry/DateEntry.php
  src/core/etl/src/Flow/ETL/Row/Entry/DateTimeEntry.php
  src/core/etl/src/Flow/ETL/Row/Entry/EnumEntry.php
  src/core/etl/src/Flow/ETL/Row/Entry/FloatEntry.php
  src/core/etl/src/Flow/ETL/Row/Entry/IntegerEntry.php
  src/core/etl/src/Flow/ETL/Row/Entry/JsonEntry.php
  src/core/etl/src/Flow/ETL/Row/Entry/ListEntry.php
  src/core/etl/src/Flow/ETL/Row/Entry/MapEntry.php
  src/core/etl/src/Flow/ETL/Row/Entry/StringEntry.php
  src/core/etl/src/Flow/ETL/Row/Entry/StructureEntry.php
  src/core/etl/src/Flow/ETL/Row/Entry/TimeEntry.php
  src/core/etl/src/Flow/ETL/Row/Entry/UuidEntry.php
  src/core/etl/src/Flow/ETL/Row/Entry/XMLElementEntry.php
  src/core/etl/src/Flow/ETL/Row/Entry/XMLEntry.php
  src/core/etl/src/Flow/ETL/Row/Factory/NativeEntryFactory.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Factory/NativeEntryFactoryTest.php
  web/landing/resources/dsl.json
Due: etl

Remove EntryFactory Interface, rename NativeEntryFactory to EntryFactory (#1402)
  documentation/components/core/building-blocks.md
  src/core/etl/src/Flow/ETL/Config/ConfigBuilder.php
  src/core/etl/src/Flow/ETL/DSL/functions.php
  src/core/etl/src/Flow/ETL/Row/EntryFactory.php
  src/core/etl/src/Flow/ETL/Row/Factory/NativeEntryFactory.php
  src/core/etl/src/Flow/ETL/Rows.php
  src/core/etl/tests/Flow/ETL/Tests/Benchmark/EntryFactory/EntryFactoryBench.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Function/CastTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Function/DOMElementAttributeValueTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Function/DOMElementAttributesCountTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Function/DOMElementValueTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Function/XPathTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/EntryFactoryTest.php
  src/lib/filesystem/tests/Flow/Filesystem/Tests/Integration/NativeLocalFilesystemTest.php
  web/landing/resources/dsl.json
Due: etl, lib-filesystem

Updated dependencies (#1404)
  composer.json
  composer.lock
  web/landing/composer.lock
Due: none

Unified joins behavior (#1405)
  examples/topics/schema/apply/output.txt
  phpunit.xml.dist
  src/core/etl/src/Flow/ETL/Join/Expression.php
  src/core/etl/src/Flow/ETL/Pipeline/HashJoinPipeline.php
  src/core/etl/src/Flow/ETL/Rows.php
  src/core/etl/src/Flow/ETL/Transformer/JoinEachRowsTransformer.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/DataFrame/JoinEachTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/DataFrame/JoinTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/RowsJoinTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Transformer/JoinEachRowsTransformerTest.php
Due: etl

Improve `Expression::dropDuplicate*Entries` methods
  src/core/etl/src/Flow/ETL/Join/Expression.php
Due: etl

Path conditions:
  etl: any of: src/core/**
  cli: any of: src/cli/**
  lib-array-dot: any of: src/lib/array-dot/**
  lib-azure-sdk: any of: src/lib/azure-sdk/**
  lib-doctrine-dbal-bulk: any of: src/lib/doctrine-dbal-bulk/**
  lib-filesystem: any of: src/lib/filesystem/**
  lib-parquet: any of: src/lib/parquet/**
  lib-parquet-viewer: any of: src/lib/parquet-viewer/**
  lib-rdsl: any of: src/lib/rdsl/**
  lib-snappy: any of: src/lib/snappy/**
  bridge-filesystem-async-aws: any of: src/bridge/filesystem/async-aws/**
  bridge-filesystem-azure: any of: src/bridge/filesystem/azure/**
  bridge-monolog-http: any of: src/bridge/monolog/http/**
  symfony-http-foundation: any of: src/bridge/symfony/http-foundation/**
  adapter-chartjs: any of: src/adapter/etl-adapter-chartjs/**
  adapter-csv: any of: src/adapter/etl-adapter-csv/**
  adapter-doctrine: any of: src/adapter/etl-adapter-doctrine/**
  adapter-elasticsearch: any of: src/adapter/etl-adapter-elasticsearch/**
  adapter-google-sheet: any of: src/adapter/etl-adapter-google-sheet/**
  adapter-http: any of: src/adapter/etl-adapter-http/**
  adapter-json: any of: src/adapter/etl-adapter-json/**
  adapter-logger: any of: src/adapter/etl-adapter-logger/**
  adapter-meilisearch: any of: src/adapter/etl-adapter-meilisearch/**
  adapter-parquet: any of: src/adapter/etl-adapter-parquet/**
  adapter-text: any of: src/adapter/etl-adapter-text/**
  adapter-xml: any of: src/adapter/etl-adapter-xml/**
