Repository stloyd/flow: changes, and which Codecov flags are due for each by the changed paths.
All: etl, cli, lib-array-dot, lib-azure-sdk, lib-doctrine-dbal-bulk, lib-filesystem, lib-parquet, lib-parquet-viewer, lib-rdsl, lib-snappy, bridge-filesystem-async-aws, bridge-filesystem-azure, bridge-monolog-http, symfony-http-foundation, adapter-chartjs, adapter-csv, adapter-doctrine, adapter-elasticsearch, adapter-google-sheet, adapter-http, adapter-json, adapter-logger, adapter-meilisearch, adapter-parquet, adapter-text, adapter-xml

.codecov.yaml:

comment:
  layout: "condensed_header, diff, components"

component_management:
  individual_components:
    - component_id: etl
      name: etl
      paths:
        - src/core/**
    - component_id: cli
      name: cli
      paths:
        - src/cli/**
    - component_id: lib-array-dot
      name: lib-array-dot
      paths:
        - src/lib/array-dot/**
    - component_id: lib-azure-sdk
      name: lib-azure-sdk
      paths:
        - src/lib/azure-sdk/**
    - component_id: lib-doctrine-dbal-bulk
      name: lib-doctrine-dbal-bulk
      paths:
        - src/lib/doctrine-dbal-bulk/**
    - component_id: lib-filesystem
      name: lib-filesystem
      paths:
        - src/lib/filesystem/**
    - component_id: lib-parquet
      name: lib-parquet
      paths:
        - src/lib/parquet/**
    - component_id: lib-parquet-viewer
      name: lib-parquet-viewer
      paths:
        - src/lib/parquet-viewer/**
    - component_id: lib-rdsl
      name: lib-rdsl
      paths:
        - src/lib/rdsl/**
    - component_id: lib-snappy
      name: lib-snappy
      paths:
        - src/lib/snappy/**
    - component_id: bridge-filesystem-async-aws
      name: bridge-filesystem-async-aws
      paths:
        - src/bridge/filesystem/async-aws/**
    - component_id: bridge-filesystem-azure
      name: bridge-filesystem-azure
      paths:
        - src/bridge/filesystem/azure/**
    - component_id: bridge-monolog-http
      name: bridge-monolog-http
      paths:
        - src/bridge/monolog/http/**
    - component_id: symfony-http-foundation
      name: symfony-http-foundation
      paths:
        - src/bridge/symfony/http-foundation/**
    - component_id: adapter-chartjs
      name: adapter-chartjs
      paths:
        - src/adapter/etl-adapter-chartjs/**
    - component_id: adapter-csv
      name: adapter-csv
      paths:
        - src/adapter/etl-adapter-csv/**
    - component_id: adapter-doctrine
      name: adapter-doctrine
      paths:
        - src/adapter/etl-adapter-doctrine/**
    - component_id: adapter-elasticsearch
      name: adapter-elasticsearch
      paths:
        - src/adapter/etl-adapter-elasticsearch/**
    - component_id: adapter-google-sheet
      name: adapter-google-sheet
      paths:
        - src/adapter/etl-adapter-google-sheet/**
    - component_id: adapter-http
      name: adapter-http
      paths:
        - src/adapter/etl-adapter-http/**
    - component_id: adapter-json
      name: adapter-json
      paths:
        - src/adapter/etl-adapter-json/**
    - component_id: adapter-logger
      name: adapter-logger
      paths:
        - src/adapter/etl-adapter-logger/**
    - component_id: adapter-meilisearch
      name: adapter-meilisearch
      paths:
        - src/adapter/etl-adapter-meilisearch/**
    - component_id: adapter-parquet
      name: adapter-parquet
      paths:
        - src/adapter/etl-adapter-parquet/**
    - component_id: adapter-text
      name: adapter-text
      paths:
        - src/adapter/etl-adapter-text/**
    - component_id: adapter-xml
      name: adapter-xml
      paths:
        - src/adapter/etl-adapter-xml/**

Fixed path in manifest
  manifest.json
Due: none

Updated CHANGELOG.md
  CHANGELOG.md
Due: none

Added list of all packages to the installation page (#1356)
  documentation/components/adapters/filesystem.md
  documentation/installation.md
Due: none

Fixed filesystem bridges composer names
  src/bridge/filesystem/async-aws/composer.json
  src/bridge/filesystem/azure/composer.json
Due: bridge-filesystem-async-aws, bridge-filesystem-azure

Make Type implementations nullable (#1357)
  src/core/etl/src/Flow/ETL/Function/Count.php
  src/core/etl/src/Flow/ETL/Function/Max.php
  src/core/etl/src/Flow/ETL/Function/Min.php
  src/core/etl/src/Flow/ETL/Function/Sum.php
  src/core/etl/src/Flow/ETL/PHP/Type/Logical/DateTimeType.php
  src/core/etl/src/Flow/ETL/PHP/Type/Logical/DateType.php
  src/core/etl/src/Flow/ETL/PHP/Type/Logical/JsonType.php
  src/core/etl/src/Flow/ETL/PHP/Type/Logical/ListType.php
  src/core/etl/src/Flow/ETL/PHP/Type/Logical/MapType.php
  src/core/etl/src/Flow/ETL/PHP/Type/Logical/StructureType.php
  src/core/etl/src/Flow/ETL/PHP/Type/Logical/TimeType.php
  src/core/etl/src/Flow/ETL/PHP/Type/Logical/UuidType.php
  src/core/etl/src/Flow/ETL/PHP/Type/Logical/XMLElementType.php
  src/core/etl/src/Flow/ETL/PHP/Type/Logical/XMLType.php
  src/core/etl/src/Flow/ETL/PHP/Type/Native/ArrayType.php
  src/core/etl/src/Flow/ETL/PHP/Type/Native/BooleanType.php
  src/core/etl/src/Flow/ETL/PHP/Type/Native/CallableType.php
  src/core/etl/src/Flow/ETL/PHP/Type/Native/EnumType.php
  src/core/etl/src/Flow/ETL/PHP/Type/Native/FloatType.php
  src/core/etl/src/Flow/ETL/PHP/Type/Native/IntegerType.php
  src/core/etl/src/Flow/ETL/PHP/Type/Native/ObjectType.php
  src/core/etl/src/Flow/ETL/PHP/Type/Native/ResourceType.php
  src/core/etl/src/Flow/ETL/PHP/Type/Native/StringType.php
  src/core/etl/src/Flow/ETL/PHP/Type/Type.php
  src/core/etl/src/Flow/ETL/Row/Entry/BooleanEntry.php
  src/core/etl/src/Flow/ETL/Row/Entry/DateEntry.php
  src/core/etl/src/Flow/ETL/Row/Entry/DateTimeEntry.php
  src/core/etl/src/Flow/ETL/Row/Entry/EnumEntry.php
  src/core/etl/src/Flow/ETL/Row/Entry/FloatEntry.php
  src/core/etl/src/Flow/ETL/Row/Entry/IntegerEntry.php
  src/core/etl/src/Flow/ETL/Row/Entry/JsonEntry.php
  src/core/etl/src/Flow/ETL/Row/Entry/ListEntry.php
  src/core/etl/src/Flow/ETL/Row/Entry/MapEntry.php
  src/core/etl/src/Flow/ETL/Row/Entry/StringEntry.php
  src/core/etl/src/Flow/ETL/Row/Entry/StructureEntry.php
  src/core/etl/src/Flow/ETL/Row/Entry/TimeEntry.php
  src/core/etl/src/Flow/ETL/Row/Entry/UuidEntry.php
  src/core/etl/src/Flow/ETL/Row/Entry/XMLElementEntry.php
  src/core/etl/src/Flow/ETL/Row/Entry/XMLEntry.php
Due: etl

Added transformers to serialize/unserialize entire row into/from entry (#1358)
  src/core/etl/src/Flow/ETL/Transformer/SerializeTransformer.php
  src/core/etl/src/Flow/ETL/Transformer/UnserializeTransformer.php
  src/core/etl/src/Flow/Serializer/Base64Serializer.php
  src/core/etl/src/Flow/Serializer/Exception/SerializationException.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Transformer/SerializeTransformerTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Transformer/UnserializeTransformerTest.php
Due: etl

Added sponsor page
  web/landing/.php-version
  web/landing/assets/images/icons/heart.svg
  web/landing/src/Flow/Website/Controller/HomeController.php
  web/landing/templates/base.html.twig
  web/landing/templates/main/index.html.twig
  web/landing/templates/main/sponsor.html.twig
Due: none

Return integers from Round func when precision is set to 0 (#1368)
  src/core/etl/src/Flow/ETL/Function/Round.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/DataFrame/GroupByTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Function/RoundTest.php
Due: etl

Fixed bug with handling float entries with value 0 (#1369)
  src/core/etl/src/Flow/ETL/Row/Entry/FloatEntry.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Entry/FloatEntryTest.php
  web/landing/composer.json
  web/landing/composer.lock
Due: etl

Allow to group by more than one column on pivot (#1370)
  src/core/etl/src/Flow/ETL/GroupBy.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/DataFrame/GroupByTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/GroupByTest.php
Due: etl

Added database upsert example (#1371)
  examples/topics/data_writing/database_upsert/code.php
  examples/topics/data_writing/database_upsert/generate_static_orders.php
  examples/topics/data_writing/database_upsert/output.txt
  examples/topics/data_writing/database_upsert/output/.gitignore
  src/adapter/etl-adapter-doctrine/src/Flow/ETL/Adapter/Doctrine/functions.php
  web/landing/resources/dsl.json
Due: adapter-doctrine

Added and/or/andNot/orNot to ScalarFunctionsChain (#1378)
  src/core/etl/src/Flow/ETL/Function/All.php
  src/core/etl/src/Flow/ETL/Function/Any.php
  src/core/etl/src/Flow/ETL/Function/CompositeScalarFunction.php
  src/core/etl/src/Flow/ETL/Function/ScalarFunctionChain.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Function/AllTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Function/AnyTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Function/LogicalFunctionsTest.php
Due: etl

Added execution time to pipeline report (#1380)
  composer.json
  composer.lock
  src/core/etl/composer.json
  src/core/etl/src/Flow/Clock/FakeClock.php
  src/core/etl/src/Flow/Clock/SystemClock.php
  src/core/etl/src/Flow/ETL/Config.php
  src/core/etl/src/Flow/ETL/Config/ConfigBuilder.php
  src/core/etl/src/Flow/ETL/DataFrame.php
  src/core/etl/src/Flow/ETL/Dataset/Statistics.php
  src/core/etl/src/Flow/ETL/Dataset/Statistics/ExecutionTime.php
  src/core/etl/tests/Flow/Clock/SystemClockTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/DataFrame/AnalyzeTest.php
  tools/blackfire/composer.lock
  tools/box/composer.lock
  tools/cs-fixer/composer.lock
  tools/phpunit/composer.lock
Due: etl

Bump phpunit/phpunit from 10.5.40 to 11.5.3 in /tools/phpunit (#1377)
  phpunit.xml.dist
  src/core/etl/tests/Flow/ArrayComparison/Tests/Unit/ArrayComparisonTest.php
  src/core/etl/tests/Flow/ArrayComparison/Tests/Unit/ArraySortByKeyTest.php
  src/core/etl/tests/Flow/ETL/Tests/FlowIntegrationTestCase.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/DataFrame/ConfigBuilderTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Pipeline/SynchronousPipelineTest.php
  tools/phpunit/composer.json
  tools/phpunit/composer.lock
Due: etl

Added concat_ws (#1385)
  src/core/etl/src/Flow/ETL/DSL/functions.php
  src/core/etl/src/Flow/ETL/Function/ConcatWithSeparator.php
  src/core/etl/src/Flow/ETL/Function/ScalarFunctionChain.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Function/ConcatWithSeparatorTest.php
  web/landing/resources/dsl.json
Due: etl

Update SECURITY.md
  SECURITY.md
Due: none

Expanded Contains to support also arrays (#1387)
  examples/topics/transformations/when/code.php
  examples/topics/transformations/when/output.txt
  src/core/etl/src/Flow/ETL/Function/Contains.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Function/ContainsTest.php
Due: etl

Added String Agg function (#1389)
  documentation/components/core/aggregations.md
  documentation/components/core/building-blocks.md
  documentation/components/core/caching.md
  documentation/components/core/core.md
  documentation/components/core/display.md
  documentation/components/core/error-handling.md
  documentation/components/core/filter.md
  documentation/components/core/group-by.md
  documentation/components/core/join.md
  documentation/components/core/limit.md
  documentation/components/core/map.md
  documentation/components/core/rename.md
  documentation/components/core/schema.md
  documentation/components/core/select-drop.md
  documentation/components/core/sort.md
  documentation/components/core/until.md
  documentation/components/core/window-functions.md
  src/core/etl/src/Flow/ETL/DSL/functions.php
  src/core/etl/src/Flow/ETL/Function/StringAggregate.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Function/StringAggregateTest.php
  web/landing/resources/dsl.json
  web/landing/templates/documentation/dsl.html.twig
  web/landing/templates/documentation/example.html.twig
  web/landing/templates/documentation/page.html.twig
Due: etl

Added array related functions (#1391)
  src/core/etl/src/Flow/ETL/Function/ArrayFilter.php
  src/core/etl/src/Flow/ETL/Function/ArrayKeep.php
  src/core/etl/src/Flow/ETL/Function/ArrayKeys.php
  src/core/etl/src/Flow/ETL/Function/ArrayValues.php
  src/core/etl/src/Flow/ETL/Function/ScalarFunctionChain.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Function/ArrayFilterTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Function/ArrayKeepTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Function/ArrayKeysTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Function/ArrayValuesTest.php
Due: etl

Simplify concat functions
  src/core/etl/src/Flow/ETL/Function/Concat.php
  src/core/etl/src/Flow/ETL/Function/ConcatWithSeparator.php
Due: etl
